/** General- Apply for entire body**/
*{
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
/**General End**/
/**NavBar Start**/
#logo-img {
    background: url('../images/logo-medium.png') no-repeat;
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
.navbar-brand h1{
    font-size: 1.5em;
}
.navbar{
    background-color: #edf5fc;
}
.nav-item{
    text-align: center;
    margin-left: 20px;
}
.navbar-light .navbar-nav .nav-link{
    color: #000000;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #0069d9;
}
.navbar-brand {
    padding: 2px 0 0 1px;
    width: fit-content;
    height: fit-content;
}
.vertical-rule{
    border-left: 1px solid gray;
    margin-left: 15px;
    height:30px;
    width: 1px;
    margin-right: 15px;
}
.navbar-brand span{
    margin-top: -7px;
    font-size: .75em;
    color:#0069d9;
}
.navbar-brand h4{
    margin: 0;
}
#serviceDropdownDiv:hover #serviceDropdownContents,#moreDropdownDiv:hover #moreDropdownContents{
    display: block;
}
.collapse button{
    z-index: 1;
    box-shadow:0 1px 10px rgba(0,0,0,.25 ) ;
    background-color: #0082e6;
}
.collapse button:hover{
    box-shadow: none;
}
.bi-telephone-fill{
    color:#ffffff;
    margin-left:10px;
    margin-top: 10px;
}
.call-icon:hover{
    background-color:  #0069d9;
    z-index: 0;
    box-shadow: none;
}
.call-icon{
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50%;
    z-index: 1;
    box-shadow:1px 1px 10px rgba(0,0,0,.25 ) ;
}
.tele-number{
    padding-top: 5px;
    padding-left: 5px;
    cursor: context-menu;
}
/**NavBar End**/
/** Footer  **/
footer{
    padding-top: 10px;
}
footer,footer a{
    background-color: #050404;
    color: #ffffff;
}

footer ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}
footer a:hover{
    color: #ffffff;
}
footer section .fa {
    padding: 0 20px 0 0;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: #ffffff;
}
footer section .fa:hover{
    color: #ffffff;
}
footer section ul li,footer section ul a,footer section .fa{
    color: #808080;
}
footer .copyrights{
    color: #808080;
    padding-bottom: 10px;
}
footer section .horizontal-rule{
    background-color: #808080;
}
/** End Footer  **/
/**Home Page**/    

.main-content .container-lg .jumbotron,.main-content .container-lg{
    padding:0;
}
.jumbotron{
    position: relative;
    color: #ffffff;
    margin-bottom: 0;
}
.jumbotron .container .tag{
    position: absolute;
    top: 30%;
    font-size: 4em;
}
.jumbotron .container .accomp{
    position: absolute;
    bottom: 15px;
    font-size: 1.5em;
}
.jumbotron .container button{
    position: absolute;
    bottom: 15px;
    right: 5%;
    box-shadow:0 1px 10px rgba(0,0,0,.25 );
}
.jumbotron .container button:hover{
    z-index: 100;
    box-shadow:none;
}
.blue-background{
    background-color: #edf5fc;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.blue-background .container #slide-show{
    padding-top: 30px;
    
}
.carousel-item .card{
    position: relative;
    width: 100%;
    height: 350px;
    box-shadow:0 5px 5px rgba(0,0,0,.25 );
    z-index: 100;
}
.carousel-item .card:hover{
    box-shadow: none;
}
.carousel-item .card .card-body{
    padding: 0;
}
.carousel-item .card .card-body span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    opacity: .8;
}
/**CSS copied from https://www.codeply.com/go/EIOtI7nkP8/bootstrap-carousel-with-multiple-cards**/
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

/* display 4 */
@media (min-width: 992px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
/**End of Css Copy**/
#why-us-home{
    padding-top: 30px;
    padding-bottom: 60px;
}
#why-us-home .row .card{
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: 250px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}
/**End Home Page**/
/**Our Projects**/
#our-projects .card{
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    border-radius: 0;
    margin-bottom: 30px;
}
#our-projects .card .card-body{
    padding:10px;
}
#our-projects .card .card-body hr{
    margin-top: 8px;
    margin-bottom: 8px;
}
#our-projects .main-content{
    margin-top: 30px;
    margin-bottom: 45px;
}
#our-projects .main-content .row{
    margin-top: 30px;
}
#our-projects .main-content .row p{
    margin-bottom: 0;
}
/**End Our Project**/
/**Login Page**/
.login-header{
    height: 25%;
    width: 100%;
    background-color: #6CADDF;
    padding: 15px 0 50px 0;
}
.login{
    width: 50%;
    height: 50%;
    padding: 25px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: white;
    z-index: 3;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
}
.login h3{
    text-align: center;
}
.login .form-group{
    margin: 10px 0 10px;
    width: 100%;
}
.login button{
    width: 100%;
    margin-top: 15px;
    background-color: #4d6585;
    
}
.bg-img{
    background: url('../images/background-6CADDF.png') repeat-x;
    width: 100%;
    height: 100px;
    float: left;
    position: absolute;
    z-index: -1;
}
/**Login Page End**/
/********** Devices with max-width 1500px **********/
@media (min-width:1200px){
    /**Home Page**/    
    .jumbotron .container .tag{
        padding-left: 30px;
        top: 20%;
    }
    .jumbotron .container .accomp{
        padding-left: 30px;
        bottom: 20%;
        font-size: 2em;
    }
    .jumbotron .container button{
        bottom: 20%;
        right:10%;
        width: 20%;
    }
    /**End Home Page**/
}
/********** Devices with max-width 1199px **********/
@media (min-width:992px) and (max-width: 1199px){
    /* Header */
    /** NavBar**/
    .nav-item{
        margin-left: 10px;
    }
    /** End NavBar**/
    /* End Header */
    /**Home Page**/    
    .jumbotron .container .tag{
        padding-left: 30px;
        top: 20%;
    }
    .jumbotron .container .accomp{
        padding-left: 30px;
        bottom: 15%;
        font-size: 2em;
    }
    .jumbotron .container button{
        bottom: 15%;
        right:10%;
        width: 15%;
    }

    /**End Home Page**/
    /** Footer  **/
    
    /** End Footer  **/
}
/****Devices of with max-width 991px ie. Medium Devices**/
@media(max-width:991px){
    /** NavBar**/
    .horizontal-rule{
        margin-left: -24px;
        margin-right: -24px;
    }
    /** End NavBar**/
    /**Home Page**/    
    .jumbotron .container .tag{
        font-size: 3em;
    }
    .jumbotron .container .accomp{
        bottom: 10%;
        font-size: 2em;
    }
    .jumbotron .container button{
        bottom: 10%;
        right:10%;
    }
    /**End Home Page**/
    /** Footer  **/
    footer section .horizontal-rule{
        margin-left: 0;
        margin-right: 0;
    }

    /** End Footer  **/
}
/****Devices of with max-width 767px ie. Small Devices **/
@media(max-width:767px){
    /** NavBar**/
    .horizontal-rule{
        margin-left: -18px;
        margin-right: -18px;
    }

    /** End NavBar**/
    /**Home Page**/    
    .jumbotron .container .tag{
        top: 33%;
        font-size: 2em;
    }
    .carousel-item .col-md-4{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    #why-us-home .row .card{
        width: 60%;
        height: 250px;
        margin:30px auto 0;
        
    }
    /**End Home Page**/
    
    /** Footer  **/
    footer{
        text-align: center;
    }
    #infoFooter{
        clear: left;
    }
    #siteNav{
        float: left;
    }
    #aboutUs{
        float: right;
    }
    /** End Footer  **/
}
/****Devices of with max-width 575px ie. Extra Small devices**/
@media(max-width:575px){
    /** NavBar**/
    .horizontal-rule{
        margin-left: 0;
        margin-right: 0;
    }
    /** End NavBar**/
    /**Home Page**/    
    .jumbotron .container .accomp{
        bottom: 10%;
        font-size: 1.5em;
    }
    .jumbotron .container button{
        bottom: 10%;
        right:10%;
    }
    /**End Home Page**/
}